.cart{
    position: sticky;
    top: 0;
    margin-left: 10px;
}
.cart-items-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #f7d4bd;
    margin-bottom: 10px;
    border-radius: 20px;
    padding:0 10px 0 10px;
}
.cart-items{
    display: flex;
    align-items: center;
    justify-content:baseline;
}
.img{
    width: 50px;
    height: 47px;
    border-radius: 50%;
    margin-right: 20px;
}
.cart-items p{
    font-size: 20px;
    font-weight: 500;
    margin-right: 15px;
}
.btn-choose button{
    background: #beb36f;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-top: 15px;
}
.btn-choose button:hover{
    background-color: #a09246;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    /* .cart{
        position: sticky;
        top: 0;
        margin-left: 10px;
    } */
    .btn-choose button{
        margin-right: 20px;
    }
}