.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 5px;
    background-color: rgb(59, 37, 8);
}
.item-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin: 50px 20px;
}